{
  :linters
  {
    :unused-referred-var
    {:exclude 
      {taoensso.timbre  [debug info warn]}}

    :unused-namespace
    {:exclude [taoensso.timbre]}}

  :lint-as 
  {
    mount.core/defstate                 clojure.core/def
    garden.def/defstyles                clojure.core/def
    clojurewerkz.quartzite.jobs/defjob  clojure.core/defn
    next.jdbc/with-transaction          clojure.core/with-open}}
  
  ;;
