{
  :deps
  {
    org.clojure/clojure       {:mvn/version "1.10.1"}
    org.clojure/core.async    {:mvn/version "1.3.610"}

    metosin/spec-tools        {:mvn/version "0.10.4"}
    metosin/jsonista          {:mvn/version "0.2.7"}
    metosin/reitit            {:mvn/version "0.5.10"}
    metosin/malli             {:mvn/version "0.2.1"}

    cprop/cprop               {:mvn/version "0.1.17"}
    mount/mount               {:mvn/version "0.1.16"}

    javax.servlet/servlet-api {:mvn/version "2.5"}
    http-kit/http-kit         {:mvn/version "2.5.0"}
    ring/ring-core            {:mvn/version "1.8.2"}
    hiccup/hiccup             {:mvn/version "1.0.5"}
    ;
    io.minio/minio            {:mvn/version "8.0.3"}
    ;
    ;; psql:
    org.postgresql/postgresql {:mvn/version "42.2.18"}
    com.zaxxer/HikariCP       {:mvn/version "3.4.5"}
    seancorfield/next.jdbc    {:mvn/version "1.1.613"}
    honeysql/honeysql         {:mvn/version "1.0.444"}
    nilenso/honeysql-postgres {:mvn/version "0.2.6"}
    migratus/migratus         {:mvn/version "1.3.3"}
  
    com.taoensso/timbre       {:mvn/version "5.1.0"}
    com.fzakaria/slf4j-timbre {:mvn/version "0.3.20"}
    ;;

    ;; https://github.com/ovotech/ring-jwt
    ovotech/ring-jwt          {:mvn/version "2.0.2"}}

    ;; https://github.com/auth0/java-jwt
    ;; com.auth0/java-jwt {:mvn/version "3.10.3"}   ;; already imported in ring-jwt

    ;; example
    ;; mlib-clj {:local/root "/path/to/mlib-clj"}}
  ;
  :paths ["src"]

  :aliases
  {
    :dev
    {
      :extra-paths ["dev" "resources" "target/resources"]
      :extra-deps 
      {
        clj-kondo/clj-kondo         {:mvn/version "2020.12.12"}
        hashp/hashp                 {:mvn/version "0.2.0"}
        org.clojure/tools.namespace {:mvn/version "1.1.0"}
        criterium/criterium         {:mvn/version "0.4.6"}}}
    ;

    :nrepl
    {
      :extra-deps
        { nrepl/nrepl                 {:mvn/version "0.8.3"}
          cider/cider-nrepl           {:mvn/version "0.25.5"}}
      :main-opts
        ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

    ;; https://github.com/seancorfield/depstar
    :depstar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.136"}}}
    :uberjar {:extra-paths ["resources" "target/resources"]}}

  ;; ;; ;; ;;

  ; :mvn/repos
  ; { "central" {:url "https://repo1.maven.org/maven2/"}
  ;   "clojars" {:url "https://clojars.org/repo"}}

  ,}

;;.
